*~
*.o
*.lo
*.la

Makefile
Makefile.in
.deps
.libs

/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/ChangeLog
/gtk-doc.make

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/gtk-doc.m4

/src/libratp/ratp.pc
/src/libratp/ratp.h

/doc/reference/html
/doc/reference/xml
/doc/reference/version.xml
/doc/reference/libratp.args
/doc/reference/libratp.hierarchy
/doc/reference/libratp.interfaces
/doc/reference/libratp.prerequisites
/doc/reference/libratp.signals
/doc/reference/libratp-*.txt
/doc/reference/*.stamp
